table {
  margin-bottom: 30px;
}
th {
  position: relative;
}

th,td {
  padding-left: 24px;
}

.integer {
  text-align: right;
}

.order-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 4px;
}

.icon-up,
.icon-down {
  width: 1rem;
  height: 1rem;
  fill: #777777;
  transition: all 0.15s;

  &:hover {
    fill: #222;
    transform: scale(1.1);
  }
}

.td__url {
  max-width: 120px;
  overflow: hidden;

  @include media($tablet) {
    max-width: 240px;
  }

  @include media($desktop) {
    max-width: 360px;
  }
}

.th--spacer {
  padding: 0;
}